body{
    font-family: Arial, Helvetica, sans-serif;
}

#grid-container{
    border-style: double;
    border-color: #FF0BFF;
    display: grid;
    grid-gap: 10px;
}
  
header,footer {
    background-color: goldenrod;
}
header{
    grid-area: headTag;
}

  /* nav settings */
nav{
    grid-area: navTag;
    margin-bottom: 50px;
    background-color: lightcyan;
}

#MenuShowHide{
    display: none;
}

#navlist{
    list-style: none;
}

#navlist, p{
    letter-spacing: 0.75px;
    line-height: 20px;
    text-indent: 10px;
    word-spacing: 5px;
}
  
#navlist li{
    float: left;
    width: 200px;
    margin-left: 50px;
}
article{
    border-color: #FF0BFF;
    border-style: dotted;
}

#article1{
    grid-area: art1Tag;
}
#article2{
    grid-area: art2Tag;
}
#article3{
    grid-area: art3Tag;
}
#article4{
    grid-area: art4Tag;
}
#article5{
    grid-area: art5Tag;
}
#article6{
    grid-area: art6Tag;
}

aside{
    grid-area: asideTag;
    border-color: #00FF00;
    border-style: solid;
}

aside figure{
    width: 300px;
    float: left;
}


footer{
    grid-area: footerTag;
}
  
#cookie{
    color: #FFF;
    background-color: #FA0;
    opacity: 0.5;
    position: fixed;
    width: 200px;
    height: 30px;
    bottom: 0;
    right: 0;
    text-align: center;
  }

@media only screen and (min-width: 1201px) {
    #grid-container{ background-color: #099A0F;
        grid-template-areas: 
    'headTag headTag headTag'
    'headTag headTag headTag'
    'headTag headTag headTag'
    'navTag navTag navTag'
    'art2Tag art1Tag art3Tag'
    'art2Tag art1Tag art3Tag'
    'art5Tag art1Tag art3Tag'
    'art5Tag art1Tag art4Tag'
    'art5Tag art1Tag art4Tag'
    'art5Tag art1Tag art4Tag'
    'art5Tag art6Tag art6Tag'
    'asideTag asideTag asideTag'
    'asideTag asideTag asideTag'
    'footerTag footerTag footerTag'
    'footerTag footerTag footerTag';
    }
}

@media only screen and (min-width: 601px) and (max-width: 1200px) {
    body {
      background-color: lightgreen;
    }
    #grid-container{background-color: #F7A4FF;
    grid-template-areas: 
    'headTag headTag'
    'headTag headTag'
    'headTag headTag'
    'navTag navTag'
    'art1Tag art2Tag'
    'art1Tag art2Tag'
    'art3Tag art2Tag'
    'art3Tag art5Tag'
    'art3Tag art5Tag'
    'art3Tag art5Tag'
    'art6Tag art6Tag'
    'art6Tag art6Tag'
    'asideTag asideTag'
    'asideTag asideTag'
    'footerTag footerTag'
    'footerTag footerTag';
    }
    #article4{
        display: none;
    }
    #img3{
        display: none;
    }
    figure{
        width: 400px;
    }
}
@media only screen and (max-width: 600px) {
    /*mobile menu*/
    nav{
        background: #DAA520;
        margin-bottom: 0;
        width: 200px;
    }
    #navlist{ display: none;
        align-items: center;
        padding: 0.25px;
        margin-bottom: 1px;
        margin-top: 0px;
        background: #B00B69;
        border-bottom: 2px solid #3b0925;
        width: 140px;
        height: 80px;
      }
    #navlist li{
        display: block;
        float: left;
        text-align: center;
        margin-left: 0px;
        width: 140px;
    }
    
    #navlist a{
        display: inline-block;
        padding: 0.25px 1px;
        text-decoration: none;
        color: #FFF;
    }
    #navlist a:active,
    #navlist a:focus,
    #navlist a:hover{
        background:#06C;  
    }
    
    #menuShowHide + label {
        position:relative;
        float:right;
        padding:3px;
        border:2px solid #FFF;
        background:#248;
        color:#FFF;
        border-radius:6px;
    }
    #menuShowHide + label:after,
    #menuShowHide + label:before {
        content:"";
        display:block;
        width:2em;
        height:0.5em;
        border:solid #FFF;
        border-width:0.25em 0;
        }
    #menuShowHide + label:after {
        border-top:0;
    }
    
    #MenuShowHide:checked ~ #navlist{
        display: block;
      }
    /*other things*/
    body {
      background-color: lightblue;
    }
    header{
        width: 320px;
    }
    header figure{
        display: none;
    }
    #grid-container{background-color: #FFA090;
        grid-template-areas:
        'headTag navTag'
        'headTag navTag'
        'art5Tag art5Tag'
        'art5Tag art5Tag'
        'art5Tag art5Tag'
        'art3Tag art3Tag'
        'art3Tag art3Tag'
        'art3Tag art3Tag'
        'art2Tag art2Tag'
        'art2Tag art2Tag'
        'art2Tag art2Tag'
        'art1Tag art1Tag'
        'art1Tag art1Tag'
        'art1Tag art1Tag'
        'asideTag asideTag'
        'asideTag asideTag'
        'asideTag asideTag'
        'footerTag footerTag'
        'footerTag footerTag';
    }
    
    #logo{
        display: none;
    }
    #article4{
        display: none;
    }
    #article6{
        display: none;
    }
    #cookie{
        width: 300px;
    }
}