body{
  font-family: Arial, Helvetica, sans-serif;
}
.flexparent { 
  background-color: #F5DEB3;
  display: flex;
  flex-wrap: wrap;
  border-style: double;
  border-width: 2px;
  border-color: #B5F
}

header,footer {
  flex-basis: 1600px;
  background-color: #DAA520;
}

/* nav settings */
nav{
  flex-basis: 1600px;
  margin-bottom: 50px;
}
#articles, li{
  letter-spacing: 0.75px;
  line-height: 20px;
  text-indent: 10px;
  word-spacing: 5px;
}

#navlist{
  list-style: none;
}

#navlist li:hover{
  background-color: #06C;
}

#navlist li{
  float: left;
  width: 200px;
}

#MenuShowHide{
  display: none;
}
/* article settings */

#CleVideo{
  width: 1200px;
  align-content: center;
}

.articles{
  flex-basis: 1000px;
  flex-shrink: 1;
  margin: 20px;
}

.articles ::selection{
  background-color: #B5F;
  color: #FFF;
}

.artpic{
  float: right;
  margin: 25px;
  margin-left: 900px;
}

.citytext p{
  margin: 20px;
  flex-basis: 700px;
}

aside{
  background-color: mediumspringgreen;
  width: 300px;
  height: 500px;
  flex-shrink: 0;
  flex-grow: 0;
}

footer{
  height: 40px;
  flex-basis: 1400px;
  flex-grow: 1;
  flex-shrink: 1;
  order: 20;
}

#cookie{
  color: #FFF;
  background-color: #FA0;
  opacity: 0.5;
  position: fixed;
  width: 200px;
  height: 30px;
  bottom: 0;
  right: 0;
  text-align: center;
  z-index: 9999;
}
@media only screen and (min-width: 1201px) {
  aside{
  position: fixed;
  bottom:150px;
  right: 25px;
  }
  
}

/* tablet version below */
@media only screen and (min-width: 601px) and (max-width: 1200px) {
  body {
    background-color: lightgreen;
  }
  .flexparent{background-color: #A0FFA0;}
  #CleVideo{ order: 2; }
  .articles{order: 3;
  flex-grow: 1;
  }
  aside{position:static;
    order: 1;
    height: auto;
    flex-basis: 100%;
    align-self: center;
  }
  .artpic{float: left;
  margin-left: 0%;
  margin-right: 70%;
  }
}

/* mobile version below */
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  /*mobile menu*/
  nav{
    background: #DAA520;
    flex-basis: 200px;
    margin-bottom: 0;
  }
  #navlist{ display: none;
    text-align: center;
    padding: 0.25px;
    margin-bottom: 1px;
    margin-top: -15px;
    background: #B00B69;
    border-bottom: 2px solid #3b0925;
    width: 160px;
  }
  #navlist li{
    display: block;
    float: none;
    text-align: center;
    width: 150px;
    flex-grow: 1;
  }

  #navlist a{
    display: inline-block;
    padding: 0.25px 1px;
    text-decoration: none;
    color: #FFF;
  }
  #navlist a:active,
  #navlist a:focus,
  #navlist a:hover{
    background:#06C;
  }

  #menuShowHide + label {
		position:relative;
		float:right;
		padding:3px;
		border:2px solid #FFF;
		background:#248;
		color:#FFF;
		border-radius:6px;
  }
  #menuShowHide + label:after,
	#menuShowHide + label:before {
		content:"";
		display:block;
		width:2em;
		height:0.5em;
		border:solid #FFF;
		border-width:0.25em 0;
	}
  #menuShowHide + label:after {
		border-top:0;
	}

  #MenuShowHide:checked ~ #navlist{
    display: block;
  }
  /*other things*/
  header{flex-basis: 200px;
    flex-grow: 1;
  }
  header figure{
    display: none;
  }
  .flexparent{background-color: #00F0FF;}
  #CleVideo{ display: none;}
  .articles{order: 2;
  flex-grow: 1;
  }
  aside{position:static;
    order: 1;
    height: auto;
    flex-basis: 100%;
    align-self: center;
  }
  .artpic{
    margin: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    float: none;
  }
}