body{
  font-family: Arial, Helvetica, sans-serif;
}
.flexparent { 
  background-color: wheat;
  display: flex;
  flex-wrap: wrap;
}

header,footer {
  flex-basis: 1600px;
  background-color: goldenrod;
}

/* nav settings */
nav{
  flex-basis: 1600px;
  margin-bottom: 50px;
  background-color: lightcyan;
}

#navlist{
  list-style: none;
}

.navitem{
  float: left;
  width: 250px;
}
/* article settings */

#CleVideo{
  width: 1200px;
  align-content: center;
}

.articles{
  flex-basis: 800px;
  flex-shrink: 1;
  margin: 20px;
}

.artpic{
  float: right;
  margin: 25px;
  margin-left: 700px;
}

.citytext p{
  margin: 20px;
  flex-basis: 700px;
}

aside{
  background-color: mediumspringgreen;
  width: 400px;
  height: 500px;
  flex-shrink: 0;
  flex-grow: 0;
}

footer{
  height: 40px;
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 1;
  order: 20;
}

#cookie{
  background-color: #FFF;
  opacity: 0.5;
  position: fixed;
  width: 200px;
  height: 30px;
  bottom: 0;
  right: 0;
  text-align: center;
}
@media only screen and (min-width: 1201px) {
  aside{
  position: fixed;
  bottom:150px;
  right: 25px;
  }
  
}

/* tablet version below */
@media only screen and (min-width: 601px) and (max-width: 1200px) {
  body {
    background-color: lightgreen;
  }
  .flexparent{background-color: #A0FFA0;}
  #CleVideo{ order: 2; }
  .articles{order: 3;
  flex-grow: 1;
  }
  aside{position:static;
    order: 1;
    height: auto;
    flex-basis: 100%;
    align-self: center;
  }
  .artpic{float: left;
  margin-left: 0%;
  margin-right: 70%;
  }
}

/* mobile version below */
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  /*mobile menu*/
  #navlist{text-align: center;
  padding: 0.25px;
  margin-bottom: 1px;
  background: #B00B69;
  border-bottom: 2px solid #3b0925;
  }
  #navlist li{
    display: inline;
  }
  #navlist a{
    display: inline-block;
    padding: 0.25px 1px;
  }

  /*other things*/
  header{width: 400px;}
  .flexparent{background-color: #00F0FF;}
  #CleVideo{ display: none;}
  .articles{order: 2;
  flex-grow: 1;
  }
  aside{position:static;
    order: 1;
    height: auto;
    flex-basis: 100%;
    align-self: center;
  }
  .artpic{
    margin: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    float: none;
  }
}