body{
    font-family: Arial, Helvetica, sans-serif;
}

#grid-container{
    border-style: double;
    border-color: #FF0BFF;
    display: grid;
    grid-gap: 10px;
    background-color: #40D0A0;
}

header,footer {
    background-color: goldenrod;
}
header{
    grid-area: headTag;
}

  /* nav settings */
nav{
    grid-area: navTag;
    margin-bottom: 50px;
}
#MenuShowHide{
    display: none;
}
#navlist{
    list-style: none;
}

#navlist, p, td{
    letter-spacing: 0.75px;
    line-height: 20px;
    text-indent: 10px;
    word-spacing: 5px;
}

#navlist li{
    float: left;
    width: 200px;
    margin-left: 50px;
}

.navitem{
    float: left;
    width: 200px;
    margin-left: 50px;
}

#tickets{
    margin: 20px;
    grid-area: tableTag;
    background-color: #50AF00;
}

p::selection{
    background-color: #B5F;
    color: #FFF;
  }

#ticketart{
    grid-area: articleTag;
}

#sourcetab{
    grid-area: sourceTag;
}

aside{
    grid-area: asideTag;
    border-color: #F050E0;
    border-style: solid;
}

#footsource{
    grid-area: sourceTag;
}

footer{
    grid-area: footerTag;
}
  
#cookie{
    color: #FFF;
    background-color: #FA0;
    opacity: 0.5;
    position: fixed;
    width: 200px;
    height: 30px;
    bottom: 0;
    right: 0;
    text-align: center;
  }

@media only screen and (min-width: 1201px) {
    #grid-container{ background-color: #F75;
        grid-template-areas: 
    'headTag headTag headTag'
    'headTag headTag headTag'
    'headTag headTag headTag'
    'navTag navTag navTag'
    'articleTag articleTag articleTag'
    'tableTag tableTag asideTag'
    'tableTag tableTag asideTag'
    'tableTag tableTag asideTag'
    'tableTag tableTag asideTag'
    'tableTag tableTag asideTag'
    'sourceTag sourceTag asideTag'
    'footerTag footerTag footerTag'
    'footerTag footerTag footerTag'
    }
}

@media only screen and (min-width: 601px) and (max-width: 1200px) {
    #grid-container{ background-color: #D090F0;
        grid-template-areas:
        'headTag headTag'
        'headTag headTag'
        'headTag headTag'
        'navTag navTag'
        'articleTag articleTag'
        'tableTag tableTag'
        'tableTag tableTag'
        'tableTag tableTag'
        'tableTag tableTag'
        'tableTag tableTag'
        'sourceTag sourceTag'
        'asideTag asideTag'
        'asideTag asideTag'
        'footerTag footerTag'
        'footerTag footerTag'
        ;
    }
    #img1{
        display: none;
    }
    aside figure{
        float: left;
        margin-left: 150px;
    }
}
@media only screen and (max-width: 600px) {
    /*mobile menu*/
    nav{
        background: #DAA520;
        margin-bottom: 0;
        width: 200px;
    }
    #navlist{ display: none;
        align-items: center;
        padding: 0.25px;
        margin-bottom: 1px;
        margin-top: 0px;
        background: #B00B69;
        border-bottom: 2px double #3b0925;
        width: 140px;
        height: 80px;
      }
    #navlist li{
        display: block;
        float: left;
        text-align: center;
        margin-left: 0px;
        width: 140px;
    }
    
    #navlist a{
        display: inline-block;
        padding: 0.25px 1px;
        text-decoration: none;
        color: #FFF;
    }
    #navlist a:active,
    #navlist a:focus,
    #navlist a:hover{
        background:#06C;  
    }
    
    #menuShowHide + label {
        position:relative;
        float:right;
        padding:3px;
        border:2px solid #FFF;
        background:#248;
        color:#FFF;
        border-radius:6px;
    }
    #menuShowHide + label:after,
    #menuShowHide + label:before {
        content:"";
        display:block;
        width:2em;
        height:0.5em;
        border:solid #FFF;
        border-width:0.25em 0;
        }
    #menuShowHide + label:after {
        border-top:0;
    }
    
    #MenuShowHide:checked ~ #navlist{
        display: block;
    }
    /*other things*/
    header figure{
        display: none;
    }
    header{
        width: 320px;
    }
    #grid-container{ background-color: #40D0A0;
        grid-template-areas:
        'headTag navTag'
        'headTag navTag'
        'articleTag articleTag'
        'tableTag tableTag'
        'tableTag tableTag'
        'tableTag tableTag'
        'tableTag tableTag'
        'tableTag tableTag'
        'sourceTag sourceTag'
        'asideTag asideTag'
        'asideTag asideTag'
        'asideTag asideTag'
        'footerTag footerTag'
        'footerTag footerTag'
        ;
    }
    #logo{
        display: none;
    }
}